<!--<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>-->
<!--trying-->
{% extends 'data/layout3.html'%} 
{%load static%}
{%block content%}
<div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <!--<button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>-->
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">

                {%if user.is_authenticated%}
                <li class="nav-item active">
               <img src="{% static 'images/va.jpg'%}" class="rounded-circle" style="width:28px; height:28px;">
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> welcome {{user.username}}</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i> Notifcation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fa fa-sign-out">Sign Out</i></a>
                </li>

                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="/reg2"><i class="fa fa-user-circle-o"> Register</i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa fa-sign-in"> Sign In</i></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>-->
                {%endif%}
              </ul>
            </div>
          </div>
        </nav>


<!--trying-->
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="active">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="/" class="logo">Portal</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="/home"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
	              <a href="/dataset"><span class="fa fa-file-archive-o mr-3"></span> Datasets</a>
	          </li>
	          <li>
              <a href="/course"><span class="fa fa-graduation-cap mr-3"></span> Courses</a>
	          </li>
	          <li>
              <a href="/upload"><span class="fa fa-sticky-note mr-3"></span> Upload data</a>
	          </li>
	          <li>
              <a href="/contact"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
	          </li>
	        </ul>

	       <div class="mb-5">
            {% for message in messages %}
            <h3 class="h6 mb-3">
               <div class="alert alert-danger alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                    </button>
                    {{message}}
                    </div>
            </h3>
            {%endfor%}

            {% if mes == 1%}
            {% else%}
            <h3 class="h6 mb-3">Subscribe for newsletter</h3>

            <form action="/email_list" class="subscribe-form" method="POST">
              {% csrf_token %}
              <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input type="text"  placeholder="Enter Email Address" name = "email"style = "width:280px; "required><br>
              </div>
               <button class="btn btn-info btn-xs btn-block" type="submit">Subscribe</button>
            </form>
          </div>
          {%endif%}
          


	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container"><br>
              <h2 class="mb-4"><u>Home</u></h2>
                <div class="container "><br>
                <div id="mycarousel" class="carousel slide " data-ride="carousel ">
              <!-- Indicators -->
              
              <!-- Wrapper for slides -->
              <div class="container">
                  
                      <img src="{%static 'images/cov2.jpg'%}" style="height:250px; width:100%;" class="img-responsive" alt="dataset">   
                  	<div class="bottom-left">
    			<p>Please stay safe</p>
  			</div>   

                     <div class="bottom-right" id = "image">
    			<img src="{%static 'images/mask.png'%}" style="height:60px; width:60px;" class="img-responsive" alt="mask">   
  			</div> </div> 
              </div>
            </div>
            <hr>
            <p>
           <h4>Worldwide chart display of the corona virus pandmic effects</h4>
           <h4><button class="btn btn-primary">Confirmed cases</button></h4>
          </p>
      </div>


        <!--enf of the trying-->

        
       <p>
          <div class="container">
          <div class="card shadow mb-4">
          <div class="card-body">
              <div class="chart-container" style="position: relative; width: 90%;">
                  <!--<canvas id="myChart" width="{{width}}" height="{{height}}"></canvas>-->
                  <canvas id="myChart" chart-options="mainDonut" chart-data="data" 
                  chart-labels="labels" class="chart chart-doughnut" width="90" height="90"></canvas>
              </div>
        </div>
        </div>
      </div>
        </p>
        <hr>

        <!--recovered cases-->
         <p>
           <h4><button class="btn btn-primary">Recovered cases</button></h4>
          </p>
        <p>
          <div class="container">
            
          <div class="card shadow mb-4">
          <div class="card-body">
              <div class="chart-container" style="position: relative; width: 90%;">
                  <!--<canvas id="myChart" width="{{width}}" height="{{height}}"></canvas>-->
                  <canvas id="myChart2" chart-options="mainDonut" chart-data="data" 
                  chart-labels="labels" class="chart chart-doughnut" width="90" height="90"></canvas>
              </div>
       
    </div>
        </div>
      </div>
        <!--end of recovered cases-->

        <!--start of death-->
        <p>
           <h4><button class="btn btn-primary">Death cases</button></h4>
          </p>
        <p>
          <div class="container">
            
          <div class="card shadow mb-4">
          <div class="card-body">
              <div class="chart-container" style="position: relative; width: 90%;">
                  <!--<canvas id="myChart" width="{{width}}" height="{{height}}"></canvas>-->
                  <canvas id="myChart3" chart-options="mainDonut" chart-data="data" 
                  chart-labels="labels" class="chart chart-doughnut" width="100" height="100"> 
                    
                  </canvas>
              </div>
        
    </div>
        </div>
      </div>
        <!--end of death>

  </div>
		</div>
    <!--start-->
    <script>

// start of animation

 let val = document.getElementById("image");
		let angle = -200;
		function animate(time, lastTime){
			if(lastTime != null){
				angle += (time - lastTime) * 0.001;
			}

		val.style.top = (Math.sin(angle) * 10) + "px"; 
		val.style.left = (Math.cos(angle) * 05) + "px"; 
		requestAnimationFrame(newTime => animate(newTime, time))
		}
		requestAnimationFrame(animate);
// end of animation

        var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',

    // The data for our dataset
    data: {
        labels: ['America', 'Africa', 'Europe', 'Asia', 'South America'],
        datasets: [{
            label: 'Covid-19 Charts',
            backgroundColor: ['rgb(90, 99, 132)',
            'rgba(118, 183, 172, 1)',
          'rgba(0, 148, 97, 1)',
          'rgba(129, 78, 40, 1)',
          'rgba(129, 199, 111, 1)'],
            borderColor: 'rgb(0, 99, 132)',
            data: [10, 5,20, 30, 45],
            hoverBackgroundColor:
            [

            ],
            responsive: true,
            devicePixelRatio: 1
        }]
    },

    // Configuration options go here
    options: {}
});

$scope.mainDonut ={
    percentageInnerCutout : 90,
    responsive: true,
     maintainAspectRatio: true, 
}

$scope.width = '30';
$scope.height = '50';
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
   $scope.width = '100';
   $scope.height = '100';
}
    </script>


    <!--start of recovered cases-->
      <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',

    // The data for our dataset
    data: {
        labels: ['America', 'Africa', 'Europe', 'Asia', 'South America'],
        datasets: [{
            label: 'Covid-19 Charts',
            backgroundColor: ['rgb(90, 99, 132)',
            'rgba(8, 183, 172, 1)',
          'rgba(20, 148, 97, 1)',
          'rgba(9, 178, 40, 1)',
          'rgba(129, 5, 111, 1)'],
            borderColor: 'rgb(0, 99, 132)',
            data: [10, 5,20, 30, 45],
            hoverBackgroundColor:
            [

            ],
            responsive: true,
            devicePixelRatio: 1
        }]
    },

    // Configuration options go here
    options: {}
});

$scope.mainDonut ={
    percentageInnerCutout : 90,
    responsive: true,
     maintainAspectRatio: true, 
}

$scope.width = '30px';
$scope.height = '50px';
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
   $scope.width = '100';
   $scope.height = '100';
}
    </script>
    <!-- end of recovered-->

    <!--start of death -->
     <script>
        var ctx = document.getElementById('myChart3').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',

    // The data for our dataset
    data: {
        labels: ['America', 'Africa', 'Europe', 'Asia', 'South America'],
        datasets: [{
            label: 'Covid-19 Charts',
            backgroundColor: ['rgb(190, 99, 2)',
            'rgba(58, 83, 172, 1)',
          'rgba(120, 18, 97, 1)',
          'rgba(9, 178, 40, 1)',
          'rgba(19, 95, 111, 1)'],
            borderColor: 'rgb(0, 99, 132)',
            data: [10, 5,20, 30, 45],
            hoverBackgroundColor:
            [

            ],
            responsive: true,
            devicePixelRatio: 1,
            maintainAspectRatio: true, 
        }]
    },

    // Configuration options go here
    options: {}
});
 $scope.mainDonut ={
    percentageInnerCutout : 90,
    responsive: true,
     maintainAspectRatio: true, 
}

$scope.width = '30px';
$scope.height = '50px';
if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
   $scope.width = '100';
   $scope.height = '100';
}
    </script>
    <!--end of death-->


    <!--end-->
    <script src="{%static 'js/jquery.min2.js'%}"></script>
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/popper2.js'%}"></script>
    <!--<script src="{%static 'js/bootstrap.min.js'%}"></script>-->
    <script src="{%static 'js/main2.js'%}"></script>
    {%endblock content%}

    <!--<script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>-->