{% extends 'data/layout.html'%} {%load static %} {%block content%}

<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top" 
style="background-color: #49487E;" role="navigation">
   <a class="navbar-brand" href="/">Data Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dataset">Datasets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Upload Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>

  <div style="text-align: center;">
    <p class="navbar-text navbar-right">
        <a href="/reg2" class="nav-link">Register</a> 
    </p>

    <p class="navbar-text navbar-right">
        <a href="/log" class="nav-link">Sign In</a> 
    </p>
</div>
</nav>



<!-- content for the carousel body-->
<div class="container "><br><br>
    <div id="mycarousel" class="carousel slide " data-ride="carousel ">
        <!-- Indicators -->
        <ol class="carousel-indicators ">
            <li data-target="#mycarousel" data-slide-to="0 " class="active "></li>
            <li data-target="#mycarousel" data-slide-to="1 "></li>
            <li data-target="#mycarousel" data-slide-to="2 "></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner ">
            <div class="item active ">
                <img src="{%static 'images/m.jpg'%} " style="height:310px; width:100%;" class="img-responsive" alt="Los Angeles ">
            </div>

            <div class="item ">
                <img src="{% static 'images/re.jpg'%} " style="height:310px; width:100%; " class="img-responsive" alt="Chicago ">
            </div>

            <div class="item ">
                <img src="{% static 'images/p.jpg'%} " style="height:310px; width:100%; " class="img-responsive" alt="New York ">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control " href="#mycarousel" role="button" data-slide="prev ">
            <span class="glyphicon glyphicon-chevron-left "></span>
            <span class="sr-only ">Previous</span>
        </a>
        <a class="right carousel-control " href="#mycarousel" role="button" data-slide="next ">
            <span class="glyphicon glyphicon-chevron-right "></span>
            <span class="sr-only ">Next</span>
        </a>
    </div>
</div>




<!-- content for the card body-->
<div class="container-fluid "><br>
    <div class="card-body ">
    <button type="button " class="btn btn-primary ">
        EDUCATION <span class="badge badge-light ">What you will learn inside the portal</span>
        <br>
      </button>
  </div>

    <!--card one-->
    <div class="row "><br>
        <div class="col ">
            <div class="card " style="width: 20rem; ">
                <img src="{% static 'images/l.jpg'%} " class="card-img-top " 
                onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                <div class="card-body ">
                    <h5 class="card-title "><a href="# "><b>Linguistic Datasets</b></a></h5>
                </div>
            </div>
        </div>

        <!-- card two-->
        <div class="col ">
            <div class="card " style="width: 20rem; ">
                <img src="{% static 'images/va.jpg'%} " class="card-img-top " 
                onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                <div class="card-body ">
                    <h5 class="card-title "><a href="# "><b>Data Visuals Datasets</b></a></h5>
                </div>
            </div>
        </div>

        <!-- card three-->
        <div class="col ">
            <div class="card " style="width: 20rem; ">
                <img src="{% static 'images/ir.jpg'%} " class="card-img-top " 
                onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                <div class="card-body ">
                    <h5 class="card-title "><a href="# "><b>Image Recognition Datasets</b></a></h5>
                </div>
            </div>
        </div>

        <!-- card four-->
        <div class="col ">
            <div class="card " style="width: 20rem; ">
                <img src="{% static 'images/f2.jpg'%} " class="card-img-top " 
                onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                <div class="card-body ">
                    <h5 class="card-title "><a href="# "><b>Financial Datasets</b></a></h5>
                </div>
            </div>
        </div>
    </div><br><br>


    <!-- content for the types of the competition-->
    <div>
        
        <div class="card-body ">
        <button type="button " class="btn btn-primary ">
            Competitions <span class="badge badge-light ">The category of the competitions are as follows</span><br>
        </button>
    </div>
    </div>

        <!--card one-->
        <div class="row "><br>
            <div class="col ">
                <div class="card " style="width: 20rem; ">
                    <img src="{% static 'images/cl.jpg'%} " class="card-img-top " 
                    onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title "><a href="# "><b>Classification</b></a></h5>
                    </div>
                </div>
            </div>

            <!-- card two-->
            <div class="col ">
                <div class="card " style="width: 20rem; ">
                    <img src="{% static 'images/for.jpg'%} " class="card-img-top " 
                    onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title "><a href="# "><b>Forecasting</b></a></h5>
                    </div>
                </div>
            </div>

            <!-- card three-->
            <div class="col ">
                <div class="card " style="width: 20rem; ">
                    <img src="{% static 'images/id.jpg'%} " class="card-img-top " 
                    onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title "><a href="# "><b>Image Identification</b></a></h5>
                    </div>
                </div>
            </div>

            <!-- card four-->
           
            <div class="col ">
                
                <div class="card " style="width: 20rem; ">
                    <img src="{% static 'images/n.jpg'%} " class="card-img-top " 
                    onmouseover = "bigImg(this)"  onmouseout = "normalImg(this)" alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title "><a href="# "><b>Regression</b></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>

    <footer>
        <div class="container " style="background-color: #49487E; color: #ffff; ">
            <p style="text-align: center; ">
                <br><b>This is an educational platform, feel free to share your ideas</b>.<br> Developed by MAXWELL SARPONG
            </p>

        </div>
    </footer>
</div>

<script>
function bigImg(x) {
  x.style.height = "150%";
  x.style.width = "150%";
}

function normalImg(x) {
  x.style.height = "100%";
  x.style.width = "100%";
}
</script>
{%endblock content%}