{%load static%}
<!Doctype html>
<html lang="en">
  <head>
  	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{%static 'css/style2.css'%}">
    <script src="{%static 'js/jquery.min2.js'%}"></script>
    <!--<script src="{%static 'js/jquery.min.js'%}"></script>-->
    <script src="{%static 'js/popper2.js'%}"></script>
    <!--<script src="{%static 'js/bootstrap.min.js'%}"></script>-->
    <script src="{%static 'js/main2.js'%}"></script>
  </head>
  <body>
    {%block content%}
   
    {%endblock content%}
  </body>
</html>