{%load static%}
<!Doctype html>
<html lang="en">
  <head>
  	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<!--trying-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--end of trying-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{%static 'css/style2.css'%}">
    <script src="{%static 'js/jquery.min2.js'%}"></script>
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/popper2.js'%}"></script>
    <!--<script src="{%static 'js/bootstrap.min.js'%}"></script>-->
    <script src="{%static 'js/main2.js'%}"></script>
<style>
.container {
  position: relative;
  font-family: Arial;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
</style>
  </head>
  <body>
    {%block content%}
   
    {%endblock content%}
  </body>
</html>