{% extends 'data/layout4.html'%} 
{%load static%}
{%load socialaccount%}
{% providers_media_js%}
{%block content%}

    <div class="main">

        <!-- Sign up form -->
        <!--<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{%static 'images/signup-image.jpg'%}" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>-->

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{%static 'images/signin-image.jpg'%}" alt="sing up image"></figure>
                        <a href="/reg2" class="signup-image-link"><b>Create an account</b></a>
                         <a href="/" class="signup-image-link"><b>Back to Home</b></a>
                         <a href="/forgot" class="signup-image-link"><b>Forgot your username or password</b></a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                         {% for f in messages%}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                        </button>
                        {{f}}
                        </div>
                        {%endfor%}

                        <form method="POST" id="login-form" action="/login">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="Your Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li>
                                    <a href="accounts/facebook/"><i class="display-flex-center zmdi zmdi-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="{%provider_login_url "google"%}"><i class="display-flex-center zmdi zmdi-google"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
{%endblock content%}
   