<!--<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>-->
<!--trying-->
{% extends 'data/layout2.html'%} 
{%load static%}
{%block content%}
<div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <!--<button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>-->
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">

                {%if user.is_authenticated%}
                <li class="nav-item active">
               <img src="{% static 'images/va.jpg'%}" class="rounded-circle" style="width:28px; height:28px;">
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> welcome {{user.username}}</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-bell"></i> Notifcation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fa fa-sign-out">Sign Out</i></a>
                </li>

                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="/reg2"><i class="fa fa-user-circle-o"> Register</i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa fa-sign-in"> Sign In</i></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>-->
                {%endif%}
              </ul>
            </div>
          </div>
        </nav>


<!--trying-->
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="active">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="/" class="logo">Portal</a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li>
	            <a href="/home"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
	              <a href="/dataset"><span class="fa fa-file-archive-o mr-3"></span> Datasets</a>
	          </li>
	          <li>
              <a href="/course"><span class="fa fa-graduation-cap mr-3"></span> Courses</a>
	          </li>
	          <li>
              <a href="/upload"><span class="fa fa-sticky-note mr-3"></span> Upload data</a>
	          </li>
	          <li class="active">
              <a href="/contact"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4"><u>Contact Success</u></h2>
        <p><b>
          <h4 style="text-align: center; color:green;">
          Thank You for contacting
        </h4>
        <h5 style="text-align: center; color:green;"> Our able team will respond to you in a minute </h5>
        <h6 style="text-align: center; color:green;"> Thank you</h6>
        </b></p>
      </div>

		</div>

    <script src="{%static 'js/jquery.min2.js'%}"></script>
    <script src="{%static 'js/jquery.min.js'%}"></script>
    <script src="{%static 'js/popper2.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/main2.js'%}"></script>
    {%endblock content%}

    <!--<script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>-->